.background {
    -fx-background-color: #FFF;
}

.tree-view {
    -fx-background-color: #FFFF;
    -fx-border-width: 0;
    -fx-border-color: #dddddd;
    -fx-border-right: 2;
    -f-border-top: 0;
}

.tool-bar {
    -fx-background-color: #42539d;
    -fx-text-fill: #fff;
}

.button-white {
    -fx-background-color: #fff;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #fff;
}

.text-area-about {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area-about .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area-about:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area-about:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area-about .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}


.table-view .column-header-background {
    -fx-background-color: #42539d;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI bold";
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-cell {
    -fx-cell-size: 4.0em;
    -fx-padding: 1em 0em 0.1em 0.1em;
    -fx-font: 12px "Segoe UI";
    -fx-alignment: bottom-left;
}

.table-row-cell:empty {
    -fx-background-color: #f8f8f8;
    -fx-base: transparent;
    -fx-control-inner-background: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}