.background {
    -fx-background-color: #FFF;
}

.tree-view {
    -fx-background-color: #FFFF;
    -fx-border-width: 0;
    -fx-border-color: #dddddd;
    -fx-border-right: 2;
    -f-border-top: 0;


}


.tree-cell:selected {
    -fx-font-weight: bold ;
}