.background {
    -fx-background-color: #FADDC6;
}

.tree-view {
    -fx-background-color: #FAF8C6;

}

.tree-view, .tree-cell {/*
	-fx-background-color: black ;
	-fx-text-fill: white ;*/
}

.tree-cell:selected {
    -fx-font-weight: bold ;
}